<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学员活跃度看板</title>
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
<div class="container">
	<!-- 头部标题 -->
	<div class="header">
		<h1>富学宝典学员活跃度看板</h1>
		<!-- <tim>时间</tim> -->
	</div>
	<!-- 时间 -->
	<!--菜单 -->
	<div id="menu" class="menu">
		<div class="menu1">菜单1</div>
		<div class="menu1">菜单2</div>
		<div class="menu1">菜单3</div>
		<div class="menu1">菜单41</div>
	</div>
	<!-- 下拉列表部分 -->
	<div class="select">
	<div class="select1">
		<p>请选择要查看的时间段：</p>
		<p>起始时间：<input type="month" value="2015-09"/>  结束时间：<input type="month" value="2015-09"/></p>
	</div>
	<div class="select1">
		<p>
			<span class='unit-label'>当前时间：</span>
			<span class='value-num'>
			<span id="stime" class="declare" data-name='stime'></span>
			</span>
		</p>
	</div>
	</div>
	<!-- 图形展示部分 -->
	<div class="drawground">
		<!-- 堆积条形图 -->
		<div class="drawground1">
			<div id="fig1"></div>
		</div>
		<!-- 热门课程分布图 -->
		<div class="drawground2">
			热门课程分布图
		</div>
	</div>
	<!-- 导出数据部分 -->
	<div class="outdata">
		
	</div>
	<!-- 底部 -->
	<div class="bottom">
		
	</div>
</div>
</body>
<script src="../static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/echarts-all.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(function(){
		window.setInterval(function(){settime()},1000)
		drawatfig1()
	})
	
	function settime(){
		var tt=document.getElementById("stime");
		tt.innerText=gettime()
	}
	
	function drawatfig1(){
		var t1=document.getElementById("fig1");
        var data=getdata1();
		console.log(data);
		var data1=data["搜索引擎"]
		console.log(data1);
		// data2=data.staffDist
		// console.log(data2);
		t1.innerText=data1
	}
	
	function getdata1(){
		var _url="/datafig1";
		var xmlhttp; 
		if (window.XMLHttpRequest)
		  {// code for IE7+, Firefox, Chrome, Opera, Safari 
		  xmlhttp=new XMLHttpRequest(); 
		  } 
		else 
		  {// code for IE6, IE5 
		  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP"); 
		  }
		xmlhttp.open("GET",_url,false)
		xmlhttp.send()
		return xmlhttp.responseText
	}
	
	function gettime(){
		var _url="/ptime";
		var xmlhttp; 
		if (window.XMLHttpRequest) 
		  {// code for IE7+, Firefox, Chrome, Opera, Safari 
		  xmlhttp=new XMLHttpRequest(); 
		  } 
		else 
		  {// code for IE6, IE5 
		  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP"); 
		  }
		xmlhttp.open("GET",_url,false)
		xmlhttp.send()
		return xmlhttp.responseText;
	}
</script>
</html>