<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试页面</title>
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
	<!-- 可变变量控制测试 -->
	<p id="t1"></p>
	<!-- ajax从flask传参测试 -->
	<p>
		<span>时间显示：</span>
		<span id="t2"></span>
	</p>
</body>

<script src="../static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/echarts-all.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/drawfig1.js" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript">
	$(function(){
		var t1=document.getElementById("t1")
		t1.innerText="这是可变变量控制测试"
		var t2=document.getElementById("t2")
		t2.innerText=gettext()
	})
	
	function gettext(){
		var _url="/ptime";
		var xmlhttp; 
		if (window.XMLHttpRequest) 
		  {// code for IE7+, Firefox, Chrome, Opera, Safari 
		  xmlhttp=new XMLHttpRequest(); 
		  } 
		else 
		  {// code for IE6, IE5 
		  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP"); 
		  }
		xmlhttp.open("GET",_url,false)
		xmlhttp.send()
		return xmlhttp.responseText;
	}
</script>
